tests/inputs/input.mp4 filter=lfs diff=lfs merge=lfs -text
yolo_predictor/PublicTest_model.t7 filter=lfs diff=lfs merge=lfs -text
yolo_predictor/yolov3_custom_9700.weights filter=lfs diff=lfs merge=lfs -text
